**/node_modules
**/build
**/*.log
*.sublime-project
*.sublime-workspace
**/__snapshots__/
**/*.swp
*.env

# Temporary
**/docs

# Project specific exclusions
code.list
client/src/sample_order.json
firebase-debug.log
firestore-debug.log
