.receipt {
    height: 90vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    height: 60vw;
    width: 60vw;
}

.toastContainer {
    height: 200px,
}
